* {
  font-family: 'poppins';
  color:#172B4D;
}

.head {
    width: 76px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070FF;
}

.h {
  width: 327px;
  height: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.info1 {
width: 327px;
height: 146px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;
flex: none;
order: 1;
flex-grow: 0;
}

.info2 {
width: 117px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7F8CFF;
flex: none;
order: 0;
flex-grow: 0;
}

.twitter {
position: absolute;
left: 6.4%;
right: 88.27%;
top: 77.81%;
bottom: 18.88%;
}

.iinsta {
position: absolute;
left: 16.8%;
right: 81.87%;
top: 78.85%;
bottom: 18.87%;
background: #505F79;
}

.ninsta{
position: absolute;
left: 18.74%;
right: 77.87%;
top: 78.32%;
bottom: 18.87%;
}

.m {
position: absolute;
left: 27.47%;
right: 67.2%;
top: 78.15%;
bottom: 19.21%;
}

.gh {
position: absolute;
left: 38.13%;
right: 57.07%;
top: 77.81%;
bottom: 18.87%;
}

.peace {
position: absolute;
left: 48%;
right: 48.22%;
top: 77.81%;
bottom: 18.87%;
}

.foot {
font-style: none;
}

* {
    border: 1px solid red;
}

