* {
  font-family: poppins, sans-serif;
  color: #172b4d;
}

.head {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  margin: 15px;
}

.h {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 114px;
  margin-left: 10px;
}

.info1 {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -20px;
  margin-left: 10px;
}

.info2 {
  display: flex;
  width: 180px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 10px;
}

.twitter {
  /* position: absolute; */
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.iinsta {
  /* position: absolute; */
  left: 16.8%;
  right: 81.87%;
  top: 78.85%;
  bottom: 18.87%;
  background: #505f79;
}

.ninsta {
  /* position: absolute; */
  left: 18.74%;
  right: 77.87%;
  top: 78.32%;
  bottom: 18.87%;
}

.m {
  /* position: absolute; */
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.gh {
  /* position: absolute; */
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.peace {
  /* position: absolute; */
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.dotless {
  list-style-type: none;
}

.left {
  position: relative;
  left: -30px;
}

.section1 {
  width: 375px;
  height: 718px;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  width: 170.17px;
}

.menu-bar {
  float: left;
  margin-left: 223px;
  margin-top: 15px;
  font-size: 25px;
  color: #6070ff;
}

.hdiv {
  display: flex;
  flex-direction: row;
}

.head:hover {
  color: red;
}

.menu-bar:hover {
  color: red;
}

.head2 {
width: 259px;
height: 36px;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}

.p1 {
width: 55px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #344563;
flex: none;
order: 0;
flex-grow: 0;
}

.p2 {
width: 88px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #7A869A;
flex: none;
order: 0;
flex-grow: 0;
}

.p3 {
width: 29px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #7A869A;
flex: none;
order: 0;
flex-grow: 0;
}

.p4 {
width: 311px;
height: 220px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #344563;
flex: none;
order: 0;
flex-grow: 0;
}

.link1 {
width: 29px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.03em;
color: #6070FF;
flex: none;
order: 0;
flex-grow: 0;
}

.link2 {
width: 21px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.03em;
color: #6070FF;
flex: none;
order: 0;
flex-grow: 0;
}

.link3 {
width: 65px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.03em;
color: #6070FF;
flex: none;
order: 0;
flex-grow: 0;
}

.section2 {
  width: 375px;
  height: 718px;
  /* background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: contain; */
}

.counter {
display:flex;
border-radius: 50%,
width: 8px;
height: 8px;
background: #C1C7D0;
flex: none;
order: 3;
flex-grow: 0;
}

.counter1 {
  
}

